{% extends 'hotelsheader.html' %}
{% load static %}

{% block content %}

<div class="card-body">
    <form role="form"action="{% url 'add-hotels' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h6 class="heading-small text-muted mb-4">Hotel information</h6>
      {{msg}}
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-username">Hotelname</label>
              <input type="text" id="input-username" class="form-control" placeholder="Enter Hotel Name" name="hotelname">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-email">Address</label>
              <input type="text" id="input" class="form-control" name="address" placeholder="Address">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-email">Country</label>
            <input type="text" id="input-email" class="form-control" name="country" placeholder="Add Name Of Country">
          </div>
        </div>
      
        
      </div>
      <hr class="my-4" />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="form-control-label" for="input-address">Rooms</label>
              <input type="text" id="input" class="form-control" placeholder="Rooms" name="rooms" value="">
              
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-mobile">Mobile</label>
              <input type="text" id="input" class="form-control" placeholder="Mobile" name="mobile" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="form-control-label" for="input-mobile">Price</label>
                <input type="text" id="input" class="form-control" placeholder="Enter Price" name="price" value="">
              </div>
            </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Wifi</label>
              <select name="wifi" class="form-control" id="">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
              
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-country">AC Rooms</label>
              <select name="acroom" class="form-control" id="">
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="both">both</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Photos</label>
              <input type="file" id="input-postal-code" class="form-control" placeholder="Photos" name="photos">
            </div>
          </div>
        </div>
      </div>
      <hr class="my-4" />
      <!-- Description -->
      <h6 class="heading-small text-muted mb-4">More Details</h6>
      <div class="pl-lg-4">
        <div class="form-group">
          <label class="form-control-label">Add details</label>
          <textarea rows="4" class="form-control" name="adddetails" placeholder="Add A More Details Of Hotel."></textarea>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4"><i class="fas fa-hotel"></i>   Add Hotel</button>
      </div>
    </form>
</div>




{% endblock %}