{% extends 'header.html' %}
{% load static %}

{% block content %}

<div class="page-top" id="templatemo_contact">
</div> <!-- /.page-header -->

<div class="contact-page">
    <div class="container">
        <div class="row">
            
            <div class="col-md-5 col-sm-6">
                <h3 class="widget-title">LOGIN</h3>
                <div class="contact-form">
                    
                    <form name="Loginform" id="loginform" action="{% url 'fpassword' %}" method="POST">
                        {% csrf_token %}
                        <p>
                            <input name="email" type="email" id="email" placeholder="Email">
                        </p>
                        
                        
                       
                        <input type="submit" class="mainBtn" id="submit" value="Reset Password">
                    </form>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="partner-list">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner1.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner2.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner3.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner1.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner2.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item last">
                    <img src="{% static 'images/partners/partner3.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.partner-list -->





{% endblock %}