{% extends 'header.html' %}
{% load static %}

{% block content %}
        <div class="flexslider">
            <ul class="slides">
                {% for hid in hotel %}
                <li>
                    <div class="overlay"></div>
                    <img src="{{hid.hotel_photos.url}}" style="width : 100%; height: 45vw; object-fit: cover;" alt="Special 1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-lg-4">
                                <div class="flex-caption visible-lg">
                                    <span class="price">₹{{hid.hotel_price}}</span>
                                    <h3 class="title">{{hid.hotel_name}}</h3>
                                    
                                </div> 
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div> <!-- /.flexslider -->
        

        <div class="container">
            <div class="row">
                <div  class="our-listing owl-carousel">
                    {% for hid in hotel %}
                    <div class="list-item">
                        <div class="list-thumb">
                            <div class="title">
                                <h4>{{hid.hotel_name}}</h4>
                            </div>
                            <img style="width: 100%; height: 200px; object-fit: cover;" src="{{hid.hotel_photos.url}}" alt="destination 1">
                        </div> <!-- /.list-thumb -->
                        <div class="list-content">
                            <h5>{{hid.hotel_address}}</h5>
                            <span></span>
                            <a href="{% url 'Aview_hotels' hid.id %}" class="price-btn">₹{{hid.hotel_price}} Book Now</a>
                        </div> <!-- /.list-content -->
                    </div> <!-- /.list-item -->
                    {% endfor %}
                </div> <!-- /.our-listing -->    
            </div> <!-- /.row -->
        </div> <!-- /.container -->

		<div class="middle-content"></div>
        
        <div class="partner-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner-item">
                            <img src="{% static 'images/partners/partner1.png' %}" alt="">
                        </div> <!-- /.partner-item -->
                    </div> <!-- /.col-md-2 -->
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner-item">
                            <img src="{% static 'images/partners/partner2.png' %}" alt="">
                        </div> <!-- /.partner-item -->
                    </div> <!-- /.col-md-2 -->
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner-item">
                            <img src="{% static 'images/partners/partner3.png' %}" alt="">
                        </div> <!-- /.partner-item -->
                    </div> <!-- /.col-md-2 -->
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner-item">
                            <img src="{% static 'images/partners/partner1.png' %}" alt="">
                        </div> <!-- /.partner-item -->
                    </div> <!-- /.col-md-2 -->
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner-item">
                            <img src="{% static 'images/partners/partner2.png' %}" alt="">
                        </div> <!-- /.partner-item -->
                    </div> <!-- /.col-md-2 -->
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner-item last">
                            <img src="{% static 'images/partners/partner3.png' %}" alt="">
                        </div> <!-- /.partner-item -->
                    </div> <!-- /.col-md-2 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.partner-list -->

		
{% endblock %}
      