{% extends 'header.html' %}
{% load static %}

{% block content %}

<div class="container" style="height: 50vh; padding: 200px 0;">
  
    <h1 style="font-size: 75px;  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; width: 1000px;
    border: 7px solid rgb(21, 212, 21);
    background-color: rgb(232, 238, 233);
    padding: 50px;
    margin: 20px;">
      Payment Success   <i class="fa fa-check-circle" style="font-size:48px;color:#66ee0b"></i></h1>
</div>
<br><br>
<br><br>
  <!-- Page content -->
  <div class="container-fluid mt-6  ">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-4">
        <!-- <div class="card card-profile" style="height: 100%;"> -->
          <!-- <img src="../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top"> -->
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
          </div>
          <style>
            .payment-data{
              width : 50%;
              padding: 10px;
              border: 2px solid black;
              margin: 10px auto;
            }

            .payment-data .h3{
              text-align: left;
            }
</style>
            <div class="text-center payment-data">
              <h5 class="h3">
              <label>Hotel Name:</label>
              {{book.hname.hotel_name}}<span class="font-weight-light"></span>
              </h5>
              <div class="h3">
                <label>Hotel Price:</label>
                <i class="ni business_briefcase-24 mr-2"></i>₹{{book.bookprice}}
              </div>
              <div class="h3">
                <label>Hotel Check In Date:</label>
                <i class="ni business_briefcase-24 mr-2"></i>{{book.check_in}}
              </div>
              <div class="h3">
                <label>Hotel Check Out Date:</label>
                <i class="ni business_briefcase-24 mr-2"></i>{{book.check_out}}
              </div>
              <div>
              <h5 class="h3">
                <label>Booking User:</label>
                <i class="ni business_briefcase-24 mr-2"></i>{{book.uid}}
                <h3 class="h3">
                  <label>Booking Id:</label>
                  {{book.booking_id}}
                </h3>
                <h3 class="h3">
                  <label>Payment Id:</label>
                  {{book.pay_id}}
                  </h3>
              </div>
          
            </div>
        <!-- </div> -->
      </div>
    </div>
  </div>  


    <br><br><br><br><br>




<div class="partner-list">

    

    <div class="container">
        <div class="row">


            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner1.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner2.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner3.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner1.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner2.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item last">
                    <img src="{% static 'images/partners/partner3.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.partner-list -->

{% endblock %}