{% extends 'header.html' %}
{% load static %}

{% block content %}

<div class="container" style="height: 20vh; padding: 50px 0;">
</div>

  
<style>
    body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
</style>
<br><br><br><br><br><br><br><br>


<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">    
                <br>
                <div class="details col-md-6">
                    <h3 class="product-title"></h3>
                    {% for book in books %}
                    <div class="text-center">
                        <h1>------------------</h1>
                        <h5 class="h4">
                        <label>Hotel Name:</label>
                        {{book.hname.hotel_name}}
                        </h5>
                        <div class="h4 font-weight-100">
                          <h5 class="h4">
                          <label>Hotel Price:</label>
                          <i class="ni business_briefcase-24 mr-2"></i>{{book.bookprice}}
                          </h5>
                        </div>
                        <div class="h4 mt-4">
                          <label>Hotel Check In Date:</label>
                          <i class="ni business_briefcase-24 mr-2"></i>{{book.check_in}}
                        </div>
                        <div class="h4 mt-4">
                          <label>Hotel Check Out Date:</label>
                          <i class="ni business_briefcase-24 mr-2"></i>{{book.check_out}}
                        </div>
                        <div>
                        <h5 class="h4">
                          <label>Booking User:</label>
                          <i class="ni business_briefcase-24 mr-2"></i>{{book.uid}}
                          </h5>
                          <h3 class="h4">
                            <label>Booking Id:</label>
                            {{book.booking_id}}<span class="font-weight-light"></span>
                            </h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>  
  


    <br><br><br><br><br>























<div class="partner-list">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner1.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner2.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner3.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner1.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner2.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item last">
                    <img src="{% static 'images/partners/partner3.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.partner-list -->

{% endblock %}