{% extends 'header.html' %}
{% load static %}

{% block content %}

<div class="flexslider">
    <ul class="slides">
        <li>
            <div class="overlay"></div>
            <img src="{% static 'images/templatemo_slide_1.jpg' %}" alt="Special 1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$7,500</span>
                            <h3 class="title">Venice, Italy</h3>
                            <p>Travel is a responsive Bootstrap layout from 
                            <span class="blue">template</span><span class="green">mo</span> website.
                                All images used in this template are from 
                                <a rel="nofollow" href="http://unsplash.com" target="_parent">Unsplash</a>.</p>
                            <a href="#" class="slider-btn">Pre-booking</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="overlay"></div>
            <img src="{% static 'images/templatemo_slide_2.jpg' %}" alt="Special 2">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$12,400</span>
                            <h3 class="title">Bercelona, Spain</h3>
                            <p>You may visit <a href="http://tourkrub.co" target="_parent">Tour Krub</a> for Thai Tour Packages. Duis fermentum nibh sit amet felis mattis, eu convallis risus egestas.</p>
                            <a href="#" class="slider-btn">Reserve Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="overlay"></div>
            <img src="{% static 'images/templatemo_slide_3.jpg' %}" alt="Special 3">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4">
                        <div class="flex-caption visible-lg">
                            <span class="price">$20,800</span>
                            <h3 class="title">Basel, Switzerland</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum nibh sit amet felis mattis, eu convallis risus egestas.</p>
                            <a href="#" class="slider-btn">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div> <!-- /.flexslider -->



<div class="container">
    <div class="row">
        <div class="our-listing owl-carousel">
            {% for vid in hotel %}
            <div class="list-item">
                <div class="list-thumb">
                    <div class="title">
                        <h4>{{vid.hotel_name}}</h4>
                    </div>
                    <img src= {{vid.hotel_photos.url}} alt="destination 1">
                </div> <!-- /.list-thumb -->
                <div class="list-content">
                    <h5>{{vid.hotel_adderss}},{{vid.hotel_country}}</h5>
                    <span>{{vid.add_details}}</span>
                    <a href="#" class="price-btn">$1,700 Book Now</a>
                </div> <!-- /.list-content -->
            </div> <!-- /.list-item -->
            {% endfor %}
            
            
            
        </div> <!-- /.our-listing -->
    </div> <!-- /.row -->
</div> <!-- /.container -->







<div class="partner-list">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner1.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner2.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner3.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner1.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item">
                    <img src="{% static 'images/partners/partner2.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="partner-item last">
                    <img src="{% static 'images/partners/partner3.png' %}" alt="">
                </div> <!-- /.partner-item -->
            </div> <!-- /.col-md-2 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.partner-list -->

{% endblock %}